{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "1.2.1"}},
    {erlsha2, ".*", {git, "https://github.com/vinoski/erlsha2", "master"}},
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "v1.3.3"}}
]}.

{cover_enabled, true}.
